body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B1B1E;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: monospace;
  color: #373F51;
  text-align: center;
}

h2 {
  font-family: monospace;
  color: #58A4B0;
  text-align: center;
}

/* PICTURES AND LOGOS */
.klabber-logo {
    height: 100px;
    width: 200px;
}

/* NAVIGATION BAR */
.navbar {

    /* ff 3.6+ */
    background:-moz-linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%);

    /* opera 11.10+ */
    background:-o-linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#751919', endColorstr='#000000', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%);

    /* global 94%+ browsers support */
    background:linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%);

    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    justify-content: space-between;

}

.navbar_logo {
    margin-right: 2rem;
}

.navbar_links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
}

/*Changes all the text inside the navbar_links container*/
.navbar_links p {
    color: azure;
    margin: 0 1rem;
    font-family: inter;
    font-size: medium;
}

/*Changes all the buttons inside the navbar_links container*/
.navbar_links button {
    width: 102px;
    height: 38px;
    left: 1152px;
    top: 55px;

    background-color: black;
    border-radius: 5px;
    border-style: hidden;

    color: azure;
    font-family: inter;
    font-size: medium;
    text-align: center;

    cursor: pointer;
}

/* FOOTER */

.footer-container {
    background-color: #373F51;
    padding: 1rem;
}

/* DIVIDERS */

.divider {
    height: 30px;
}

.divider_small {
    height: 10px;
}

.divider_small2 {
    height: 2rem;
}

.friends-card-divider {
    width: 1rem;
}

/* LANDING PAGE */

#landing-content {
    display: flex;
}

#landing-content #mainbox1 {
    width: 480px;
    display: block;
    margin: 130px auto;
}

#landing-content button {
    border: none;
    font-size: 24px;
    line-height: 72px;
    color: #D8DBE2;
    text-align: center;
    background-color: #58a4b0;
    border-radius: 12px;
    display: block;
    width: 100%;
    cursor: pointer;
}

#landing-content h2 {
    align-items: center;
}

/* SIGN UP PAGE */

#signup-content {
    display: block;
}

#signup-content #mainbox1 {
    width: 480px;
    display: block;
    margin: 130px auto;
}

#signup-content button {
    border: none;
    font-size: 24px;
    line-height: 72px;
    color: #D8DBE2;
    text-align: center;
    background-color: #58a4b0;
    border-radius: 12px;
    display: block;
    width: 100%;
    cursor: pointer;
}

#signup-content #mainbox1 input {
    background-color: #D8DBE2;
    color: #58a4b0;
    font-size: 24px;
    line-height: 72px;
    padding: 0 30px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
}

#signup-content #mainbox1 a {
    color: #D8DBE2;
    position: relative;
    right: -28%;
}

#signup-content h2 {
    align-items: center;
}

/* SIGN IN PAGE */

#signin-content {
    display: block;
}

#signin-content #mainbox1 {
    width: 480px;
    display: block;
    margin: 130px auto;
}

#signin-content #mainbox1 button {
    border: none;
    font-size: 24px;
    line-height: 72px;
    color: #D8DBE2;
    text-align: center;
    background-color: #58a4b0;
    border-radius: 12px;
    display: block;
    width: 100%;
    cursor: pointer;
}

#signin-content #mainbox1 input {
    background-color: #D8DBE2;
    color: #58a4b0;
    font-size: 24px;
    line-height: 72px;
    padding: 0 30px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
}

#signin-content #mainbox1 a {
    color: #D8DBE2;
    position: relative;
    right: -28%;
}

#signin-content h2 {
    align-items: center;
}

/* HOME PAGE */

#home-content {
    display: block;
    margin: 4rem auto;
    justify-content: center;
}

#home-content #mainbox1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: start;
}

#home-content #column1 {
    display: block;
}

#home-content #column2 {
    display: block;
}

#home-content #column3 {
    display: block;
}

#home-content #profileCard {
    width: 20rem;
    background: #58a4b0;
    border-radius: 10px;
    padding: 5px;
}

#home-content #notificationsBox {
    background: #58a4b0;
    width: 20rem;
    height: 300px;
    display: block;
    color: #D8DBE2;
    border-radius: 10px;
}

#home-content #notificationsBox #notificationsList {
    width: 100%;
    height: 240px;
    overflow: auto;
    align-items: center;
}

#home-content #friendsCard {
    background: #58a4b0;
    width: 20rem;
    display: block;
    color: #D8DBE2;
    border-radius: 10px;
    cursor: pointer;
}

#home-content #statusTab {
  width: 20rem;
}

#home-content #statusTab Button {
    background-color: #58A4B0;
    color: #D8DBE2;
    display: block;
    border-radius: 10px;
    cursor: pointer;
  }

#home-content #statusTab #statusBox {
    width: 18rem;
    color: #D8DBE2;
}

#home-content #statusTab #otherStatusBox {
    background: #58a4b0;
    width: 100%;
    height: 365px;
    display: block;
    color: #D8DBE2;
    border-radius: 10px;
}

#home-content #statusTab #otherStatusBox #statusList {
    width: 100%;
    height: 300px;
    overflow: auto;
    align-items: center;
}

#home-content #klabsButtonBox {
    width: 20rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    border-radius: 10px;
}

#home-content #klabsButtonBox Button {
    background: #58a4b0;
    height: 30px;
    display: block;
    color: #D8DBE2;
    border-radius: 10px;
    padding: 5px;
}

#home-content #upcomingKlabsBox {
    background: #58a4b0;
    width: 20rem;
    height: 130px;
    display: block;
    color: #D8DBE2;
    border-radius: 10px;
}

#home-content #pastKlabsBox {
    background: #58a4b0;
    width: 20rem;
    height: 130px;
    display: block;
    color: #D8DBE2;
    border-radius: 10px;
}

/* SETTINGS PAGE */

#settings-content {
    display: block;
}

#settings-content #mainbox1 {
    width: 480px;
    display: block;
    margin: 130px auto;
}

#settings-content #mainbox1 button {
    border: none;
    font-size: 24px;
    line-height: 72px;
    color: #fff;
    text-align: center;
    background-color: #751919;
    border-radius: 12px;
    display: block;
    width: 100%;
    cursor: pointer;
}

#settings-content #mainbox1 input {
    background-color: azure;
    color: #751919;
    font-size: 24px;
    line-height: 72px;
    padding: 0 30px;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
}

#settings-content #mainbox1 a {
    color: rgb(139, 143, 143);
    position: relative;
    right: -28%;
}

#settings-content h2 {
    align-items: center;
}

/* FRIENDS PAGE */

#friends-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#friends-content #buttonsbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#friends-content #buttonsbox Button {
    align-self: stretch;
    text-align: center;
    font-size: 24px;
    color: #58A4B0;
}

#friends-content #users-container {
    display: grid;
    max-width: 1170px;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}

#friends-content .user-card { /*USELESS FOR NOW*/
    border: none;
    border-radius: 10px;
    background: #58a4b0;
    display: block;
    color: #D8DBE2;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    width: 100px;

}

/* CREATE KLAB PAGE */
#create-klab-container {
    margin: 0;
    display: grid;
    grid-template-columns: 65% 35%;
    justify-items: stretch;
    align-items: stretch;
}

#create-klab-container h1 {
    font-family: monospace;
    color: #D8DBE2;
    text-align: center;
}

#create-klab-left {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-items: center;
    background-color: #373F51;
    overflow: auto;
}

#create-klab-left #left-container {
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#create-klab-left p {
    color: #D8DBE2;
    text-align: center;
}

#create-klab-right {
    margin: 2rem;
    display: block;
    align-items: center;
    background-color: #1B1B1E;
}

#create-klab-right #right-container {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#create-klab-right Button {
    background: #58a4b0;
    display: block;
    justify-self: center;
    color: #D8DBE2;
    border-radius: 10px;
    padding: 5px;
}

/* FIND KLABS PAGE */

#FindKlabs-content {
    display: block;
    margin: 2rem auto;
    justify-content: center;
}

#FindKlabs-content #klabs-container {
    display: grid;
    max-width: 1170px;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}