#content {
    display: block;
}

#users-container {
    display: grid;
    max-width: 1170px;
    margin: 0 auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
}

.user-card {
    border: none;
    border-radius: 10px;
    background: #751919;
    display: block;
    color: azure;
    text-align: center;
    font-size: 24px;
    line-height: 60px;
    width: 100px;

}
  