/*PICTURES AND LOGOS*/
.klabber-logo {
    height: 100px;
    width: 200px;
}

/*NAVIGATION BAR*/
.navbar {

    /* ff 3.6+ */
    background:-moz-linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%);

    /* opera 11.10+ */
    background:-o-linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#751919', endColorstr='#000000', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%);

    /* global 94%+ browsers support */
    background:linear-gradient(89deg, rgba(0, 0, 0, 1) 0%, rgba(117, 25, 25, 1) 99%);

    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    justify-content: space-between;

}

.navbar_logo {
    margin-right: 2rem;
}

.navbar_links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
}

/*Changes all the text inside the navbar_links container*/
.navbar_links p {
    color: azure;
    margin: 0 1rem;
    font-family: inter;
    font-size: medium;
}

/*Changes all the buttons inside the navbar_links container*/
.navbar_links button {
    width: 102px;
    height: 38px;
    left: 1152px;
    top: 55px;

    background-color: black;
    border-radius: 5px;
    border-style: hidden;

    color: azure;
    font-family: inter;
    font-size: medium;
    text-align: center;

    cursor: pointer;
}

/*MAIN CONTENTS*/
#content {
    display: block;
}

#content #mainbox1 {
    width: 480px;
    display: block;
    margin: 130px auto;
}

#content button {
    border: none;
    font-size: 24px;
    line-height: 72px;
    color: #fff;
    text-align: center;
    background-color: #751919;
    border-radius: 12px;
    display: block;
    width: 100%;
    cursor: pointer;
  }

.divider {
    height: 30px;
}

.h2 {
    align-items: center;
}
    